@mixin default-font($fontsize) {
    color: red;
    font-size: $fontsize;
    font-family: fantasy;
}

@mixin quad-color($color: getColor) {
    @if ($color == eat) {
        color: red;
    }
    @if ($color == sleep) {
        color: blue;
    }
}